language: python
sudo: false
cache: pip
dist: trusty

matrix:
  fast_finish: true

install:
  - "pip install --upgrade pip pipenv"
  - "pipenv install --dev"
  - "pipenv run pip install --upgrade -e .[spinner,tests]"
script:
    - "pipenv run pytest -v -n auto tests/"

jobs:
  include:
    - stage: test
    - python: "3.7"
      dist: xenial
      sudo: required
    - python: "3.6"
    - python: "2.7"
    - python: "3.5"
    - python: "3.4"
    - stage: packaging
      python: "3.6"
      install:
        - "pip install --upgrade twine readme-renderer[md]"
      script:
        - "python setup.py sdist"
        - "python twine check dist/*"
    - stage: coverage
      python: "3.6"
      install:
        - "pip install --upgrade pip pipenv"
        - "pipenv install --dev"
        - "pipenv run pip install --upgrade -e .[spinner,tests]"
      script:
        - "pipenv run pytest -n auto --timeout 300 --cov=vistir --cov-report=term-missing --cov-report=xml --cov-report=html tests"
